@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ddffdd;
    font-size: 200%;
    color: #224422;
    margin-left: 128px;
    margin-right: 128px;
    margin-top: 32px;
}

div.box {
    border-radius: 8px;
    background-color: #eeffee;
    padding: 16px;
    box-shadow: 0px 0px 16px #eeffee;
    margin: 20px 0% 20px;
    vertical-align: middle;
    text-align: center;
}

p {
    margin: 0px;
}

img {
    font-style: italic;
    max-width: 100%;
    box-shadow: 0px 0px 32px #aaffaa;
}

a:link, a:visited {
    text-decoration: none;
    color: #007600;
}

a:hover, a:active {
    border-bottom: 1px solid #888888;
}

img:hover {
    box-shadow: 0px 0px 32px #66ff88;
}

a.image {
    border: none;
}
